<h2>Movie Index Page</h2>

<div class="grid-x grid-margin-x">
  <% @movies.each do |movie|%>
    <div class= "cell text-center large-4 small-12 callout movie-card">
        <img class="card-image" src="<%= movie.poster_image_url%>">
        <div class="card-content">
          <p><%= "#{movie.title} (#{movie.release_date})" %></p>
          <p><%="Quality Score: #{movie.score}/10"%></p>
          <p class="label"><%=movie.genre%></p>
          <p class="label rating"><%= "Rated #{movie.rating}"%></p>
        </div>
    </div>
  <%end%>
</div>