<h1>Movie Index Page</h1>

<% @movies.each do |movie|%>
<div>
    <img src="<%= movie.poster_image_url%>">
    <p><%= "#{movie.title}(#{movie.release_date})" %></p>
    <p><%= movie.genre%></p>
    <p><%= movie.score%></p>
    <p><%= movie.rating%></p>
</div>

<%end%>