<h1><%= @user.username %>'s Profile Page</h1>



<div>
    <img src="<%= @user.profile_image_url%>">
    <p>First Name: <%= @user.first_name %></p>
    <p>Last Name: <%= @user.last_name %></p>
    <p>Email: <%= @user.email %></p>
</div>

