<h1>Hello <%= @user.username %>!</h1>

<div class="grid-x grid-margin-x">
    <div class="image-card">
        <img src="<%= @user.profile_photo_url%>">
    </div>

    <div class="text-center">
        <p>First Name: <%= @user.first_name %></p>
        <p>Last Name: <%= @user.last_name %></p>
        <p>Email: <%= @user.email %></p>
        <%= link_to 'Edit Profile Information', edit_user_registration_path %>
    </div>
</div>